/* BR Omega — file SVN-Omega trong public/fonts */
@font-face {
  font-family: "BR Omega";
  src: url("/fonts/SVN-Omega-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Omega";
  src: url("/fonts/SVN-Omega-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BR Omega";
  src: url("/fonts/SVN-Omega-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Omega";
  src: url("/fonts/SVN-Omega-ExtraLightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BR Omega";
  src: url("/fonts/SVN-Omega-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Omega";
  src: url("/fonts/SVN-Omega-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BR Omega";
  src: url("/fonts/SVN-Omega-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Omega";
  src: url("/fonts/SVN-Omega-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BR Omega";
  src: url("/fonts/SVN-Omega-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Omega";
  src: url("/fonts/SVN-Omega-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BR Omega";
  src: url("/fonts/SVN-Omega-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Omega";
  src: url("/fonts/SVN-Omega-SemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BR Omega";
  src: url("/fonts/SVN-Omega-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Omega";
  src: url("/fonts/SVN-Omega-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BR Omega";
  src: url("/fonts/SVN-Omega-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Omega";
  src: url("/fonts/SVN-Omega-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
